.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul,
ol {
  list-style: none;
}

button.active {
  border-color: blue;
}

.todo-list {
  width: 40%;
  margin: 0 auto;
  padding: 20px 0;
}

.todo-item {
  font-style: italic;
  text-align: left;
  position: relative;

  .mark {
    position: absolute;
    top: 4px;
    cursor: pointer;
  }

  .text {
    padding-left: 20px;
  }

  .fa-times {
    color: #ccc;
    position: absolute;
    top: 4px;
    right: 10px;
    cursor: pointer;

    &:hover {
      color: black;
    }
  }

  .completed {
    text-decoration: line-through;
    color: #888;
  }
}